:root {
  --dark-color: #222831;
  --grey-color: #393e46;
  --blue-color: #00adb5;
  --off-white-color: #e0ece4;
}

body {
  font-family: monospace;
  background-color: var(--white-background-color);
  font-weight: 400;
  line-height: 1.65;
  color: #0a3152;
  text-align: center;
}
h1 {
  margin-top: 0;
  font-size: 5.653em;
}
kbd {
  font-size: 3.2em;
}
.key {
  background-color: var(--off-white-color);
  color: var(--grey-color);
  border: var(--grey-color) solid;
  border-radius: 9%;
  font-size: 3.25em;
}
.symbol {
  background-color: var(--blue-color);
  color: var(--grey-color);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  margin: auto;
  border: var(--dark-color) solid 10px;
  border-radius: 2%;
  height: 500px;
  width: 400px;
  background: #333;
}
.display {
  grid-column-end: span 4;
  font-size: 3.8em;
  background-color: #ececec;
  text-align: right;
  border: var(--dark-color) solid;
  padding-top: 5px;
  padding-right: 5px;
  overflow: hidden;
}
.zero {
  grid-column-end: span 2;
}
#decimal {
  background-color: var(--off-white-color);
  color: var(--grey-color);
}
